{% extends "base.html" %}

{% block css %}
<style type="text/css">
    body {
        padding: 10px;
        background-color: #EEE;
        color: #454545;
        font-family: Arial, Sans-serif;
    }
    h1 {
        font-weight: normal;
        margin: 0 5px 0 10px;
    }
    #codescroll {
        display: block;
        height: 80%;
        width: 95%;
        margin: 10px;
        background: #222;
        color: #0F0;
        overflow: auto;
        border-radius: 10px;
        box-shadow: inset 0px 5px 100px 10px rgba(100,255,100, 0.15);
    }
    #codescroll a {
        color: #FF0;
    }
    #codescroll::-webkit-scrollbar {
        background: transparent;
        width: 6px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:vertical {
        background: rgba(255,255,255,0.4);
        border-radius: 10px;
    }

    #codescroll::-webkit-scrollbar-resizer:vertical {
        background: transparent;
    }
    #codescroll::-webkit-scrollbar-corner:vertical {
        background: transparent;   
    }
    ::-webkit-scrollbar-button:start:decrement,
    ::-webkit-scrollbar-button:end:increment {
        visibility: hidden;
    }

    #output {
        display: block;
        width: 96%;
        white-space: pre-wrap;
        padding: 10px 2%;
        border-radius: 10px;
    }
</style>
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
var container = document.getElementById('codescroll');
var code = document.getElementById('output');
container.scrollTop = code.offsetHeight;
var pinned = true;

var blinky_block_showing = false;
function blink_blinky_block() {
    var block = document.getElementById('blinky_block');
    if (blinky_block_showing) {
        block.style.opacity = "0";
        blinky_block_showing = false;
    } else {
        block.style.opacity = "100";
        blinky_block_showing = true;
    }
}

var last_output = "";
function get_new_output() {
    $.ajax({
        url: "{{output_update_url}}",
        success: function(output) {
            if (output != "") {
                if (output != last_output){
                    last_output = output;
                    $("#output").html(output + '<blink id="blinky_block">&#9608;</blink>');    
                    
                    if (pinned) {
                        container.scrollTop = code.offsetHeight;    
                    }
                    
                }
            } else {
                $("#output").html("No output yet");
            }
        }

    })
}
function code_scroll_changed() {
    if (container.scrollTop >= code.offsetHeight - container.offsetHeight) {
        pinned = true;
    } else {
        pinned = false;
    }
}
blink = setInterval(blink_blinky_block, 700)
update_output = setInterval(get_new_output, 1000)
$("#codescroll").scroll(code_scroll_changed)

$(function(){
    $.ajax({
        url: "https://greenkahuna.com/api/v1/listings?format=json",
        success: function(data) {
            alert(data);
        },
        fail: function() {
            alert('failed!');
        },
    });
});

</script>
{% endblock %}

{% block content %}
<h1>Deploy log for {{stack.title}}</h1>

<div id="codescroll">
<code id="output">Loading... <blink id="blinky_block">&#9608;</blink></code>
</div>
{% endblock %}