{% extends "base.html" %}

{% block css %}
<style type="text/css">
    body {
        padding: 10px;
        background-color: #EEE;
        color: #454545;
        font-family: Arial, Sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<h1>Our stacks:</h1>

{% if stacks %}
{% for s in stacks %}
<h3>{{s.name|title}}</h3>
<div><b>Branch:</b> {{s.branch.name}}</div>
<div><b>Url:</b> <a href="{{s.url}}" target="_blank">{{s.url}}</a></div>
<div><a href="{{s.deploy_log_url}}">Deploy Log</a></div>
{% endfor %}
{% else %}
No stacks right now!
{% endif %}
{% endblock %}